<th:block xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="frag(title)">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Title</title>

    <link th:href="@{/css/custom.css}" type="text/css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'/>

    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</th:block>
