html, body {
    height: 100%;
    margin: 0; padding: 0;
}

.flex-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    text-align: center;
}

header {
    background: #343d46;
    color:white;
    background: url("/images/restaurant.jpg") no-repeat center center;
    background-size: cover;
}

header h1 {
    padding: 0.5em 2em;
    font-size: 4em;
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #fff4e6;
}

nav {
    background: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background: #be9b7b;
    text-transform: uppercase;
}

nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0.6em 0.4em;

}

nav li a {
    color: white;
    text-decoration: none;
    padding: 0.6em 0.4em;
}

nav li a:hover {
    background-color: #a7adba;
}

nav li:before {
    content: ">";
    padding-right: 1em;
}

nav li:first-child:before {
    content: "";
}

nav li:last-child:before {
    content: "";
}

.skipInNav::before  {
    content: "> > >";
}

#content {
    flex: 1;
    margin: 0 auto;
    max-width: 80em;
    padding: 0.5em;
}

footer{
    background: #be9b7b;
    color:white;
    padding: 2em;
}

#content img {
    max-width: 100%;
    margin: 0.5em 0em;
}

#content h1, h2{
    color: #4b3832;
    font-size: 2em;
}

#content h1{
    font-size: 3em;
}

.showForm {
    color: #4b3832;
    /*text-decoration: none;*/
    text-transform: uppercase;
    font-weight: bold;
    /*border: thin solid #4b3832;*/
    /*padding: 1em 2em;*/
    display: inline-block;
}

.aLikeBtn{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: #000;
    border: medium solid #000;
    padding: 1em 2em;
    display: inline-block;
    margin: 2em 0em;
}

.aLikeBtn:hover {
    color: #fff;
    padding: 1em 2em;
    background-color: #000;
    -webkit-transition-duration: 0.5s;
}

.aLikeBtnSimple{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    border: medium solid #000;
    padding: 1em 2em;
    display: inline-block;
    margin: 3em 0em;
}

.highlight {
    font-weight: bold;
}

.inputText, .submitBtn, .submitBtn:hover, .sendEmailBtn {
    font-size: 1.5em;
}

.inputText {
    border: thin solid #000;
    padding: 0.5em 0.5em;
    color: #65737e;
}

.submitBtn {
    background:none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 2em;
    color: #000;
    border: thin solid #000;
    margin: 1em;
}

.submitBtn:hover {
    color: #fff;
    padding: 0.5em 2em;
    background-color: #000;
    -webkit-transition-duration: 0.5s;
}


.sendEmailBtn {
    background: #3399ff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border: thin solid #000;
    padding: 0.5em 2em;
    margin: 1em;
}

.sendEmailBtn:hover {
    color: #3399ff;
    padding: 0.5em 2em;
    background-color: #fff;
    -webkit-transition-duration: 0.5s;
}

.rightNav {
    float: right;
}
/*Restaurants results*/

dl {
    /*min-width: 19em;*/
    /*max-width: 35em;*/
    border: thin solid #000;
    margin: 0;
    display: inline-block;
    padding: 1.5em 3em;
    width: 30em;
}

dt, dd {
    float: left;
}

dt {
    clear:both;
}

dd {
    margin: 0em 0.5em;
}

.restName {
    font-size: 2em;
    color: #4b3832;
    text-decoration: underline;
    text-weight: bold;
    padding-bottom: 0.3em;
}

input.hiddenCheckbox {
    display: none;
}

.highlightRestaurant{
    background-color: #be9b7b;
}


.restBlock {
    display: inline-block;
    padding: 0;
    margin: 0.5em;
}

.error {
    color: red;
}

.rbOptions {
    margin: 1em;
}

.rbOptions ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
}

.rbOptions li {
    font-size: 1em;
    display: inline;
    padding: 1em;
}

.address {
    background-image: url("/images/map.svg");
}

.keyword {
    background-image: url("/images/search.svg");
}

.rbPic {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:5em;
    height:5em;
    padding-left: 5.5em;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
    vertical-align: middle;
}

.rbPic:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.rbOptions input {
    appearance:none;
    -webkit-appearance:none;
}

.rbOptions input:active +.rbPic{
    opacity: .9;
}

.rbOptions input:checked +.rbPic{
    -webkit-filter: none;
    filter: none;
}

.rbCont {
    display: inline-block;
}

.js .searchForm {
    display:none;
}

