<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Pošli jídelák</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table border="1" cellpadding="0" cellspacing="0" align="center" style="max-width: 60em;">
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding: 20px 0 20px 0;">
            <h1 th:text="${name}" style="color:black;">Name</h1>
            <p th:text="${#dates.format(date, 'dd. MMMMMMMMMMMM yyyy')}">Datum</p>
            <img src="https://pbs.twimg.com/profile_images/668088709875499008/eLZTn7_S.jpg" alt="Pošli jídelák"
                 style="display: block;"/>
        </td>
    </tr>
    <div th:each="restaurant : ${restaurantsWithLunchMenu}">
        <tr>
            <td bgcolor="#696969">
                <h2 style="color:white; text-align:center;" th:text="${restaurant.getName()}">
                    Name of restaurant
                </h2>
                <p style="color:white; text-align:center;" th:if="${not restaurant.hasLocation()}">
                    Adresa není k dispozici
                </p>
                <p style="color:white; text-align:center;" th:if="${restaurant.hasLocation()}"
                   th:text="${restaurant.getLocation().getAddress()}">
                </p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                <div style="color:black; text-align:center; font-family:courier;"
                     th:each="dish : ${restaurant.getLunchmenu().getDishes()}">
                    <p style="padding: 1em 1em 0em 1em;" th:text="${dish.getName()}"></p>
                    <div th:if="${dish.hasPrice()}">
                        <div style="padding: 0px 10px 20px 10px;" th:text="'Cena: ' + ${dish.getPrice()}"></div>
                    </div>
                </div>
            </td>
        </tr>
    </div>
    <tr>
        <td bgcolor="#696969">
            <h4 style="color:white; text-align:center;">
                Pro tyto restaurace nejsou k dispozici jídelní lístky
            </h4>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff">
            <div th:each="restaurant : ${restaurantsWithoutLunchMenu}">
                <div style="color:black; text-align:center; font-family:courier; padding: 1em 1em 1em 1em;"
                     th:text="${restaurant.getName()}">
                </div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>