<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/head::frag('Aktivovat odběr')"/>
</head>
<body>
<div class="flex-container">
    <header th:replace="layout/header"></header>
    <nav th:replace="layout/navigationBar"></nav>
    <main id="content">
        <h1>Aktivace účtu</h1>

        <div th:if="${activated==null}">
            <p>Neplatný odkaz, nebyl aktivován žádný účet</p>
        </div>

        <div th:if="${(activated!=null) and (activated == true)}">
            <p>Aktivace byla úspěšně dokončena. Jídeláky se budou posílat na e-mail <span class="highlight" th:text="${emailAddress}">test@email.com</span></p>
        </div>

        <a class="aLikeBtnSimple" href="/">Pokračovat na úvodní stránku</a>
    </main>
    <div th:replace="layout/footer"></div>
</div>
</body>
</html>
