<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/head::frag('Pošli jídelák :: hlavní strana')"/>
</head>
<body>
<div class="flex-container">
    <header th:replace="layout/header"></header>
    <nav th:replace="layout/navigationBar"></nav>
    <div class="container">
        <section id="content">
            <h1>Najdi svou oblíbenou restauraci a dostávej její jídelák každý den</h1>

            <p>
                Call to action: <a href="/search">Vyhledat restaurace</a>
            </p>

            <h2>Naše služby</h2>

            <p>
                Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu. Lorem Ipsum je
                považováno za standard v této oblasti už od začátku 16. století, kdy dnes neznámý tiskař vzal kusy textu
                a na jejich základě vytvořil speciální vzorovou knihu. Jeho odkaz nevydržel pouze pět století, on přežil
                i nástup elektronické sazby v podstatě beze změny. Nejvíce popularizováno bylo Lorem Ipsum v šedesátých
                letech 20. století, kdy byly vydávány speciální vzorníky s jeho pasážemi a později pak díky počítačovým
                DTP programům jako Aldus PageMaker.
            </p>

            <h2>Jak to funguje</h2>

            <p>
                Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu. Lorem Ipsum je
                považováno za standard v této oblasti už od začátku 16. století, kdy dnes neznámý tiskař vzal kusy textu
                a na jejich základě vytvořil speciální vzorovou knihu. Jeho odkaz nevydržel pouze pět století, on přežil
                i nástup elektronické sazby v podstatě beze změny. Nejvíce popularizováno bylo Lorem Ipsum v šedesátých
                letech 20. století, kdy byly vydávány speciální vzorníky s jeho pasážemi a později pak díky počítačovým
                DTP programům jako Aldus PageMaker.
            </p>

            <p>
                Call to action: <a href="/search">Vyhledat restaurace</a>
            </p>
        </section>
    </div>
    <footer th:replace="layout/footer"></footer>
</div>
</body>
</html>