<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/head::frag('Vyhledávání restaurací')"/>
</head>
<body>
<div class="flex-container">
    <header th:replace="layout/header"></header>
    <nav>
        <ul>
            <li><a href="/">Domů</a></li>
            <li>Hledat</li>
            <li th:if="${selected == true}" class="skipInNav"><a href="/setup">Zadat email</a></li>
            <li class="rightNav"><a href="/unsubscribe">Odhlásit odběr</a></li>
        </ul>
    </nav>
    <main id="content">
            <h1>Najděte svou oblíbenou restauraci</h1>
            <div th:include="searchForm :: search-form('search')"></div>
    </main>
    <div th:replace="layout/footer"></div>
</div>
</body>
</html>