<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Save restaurants</title>
</head>
<body>
    <h1>Vybrané restaurace</h1>

    <h2>Vyhledat další:</h2>
    <div th:replace="searchForm :: search-form"></div>

    <h2>Uložené restaurace</h2>

    <form action="#" th:action="@{/setup}" th:object="${setupWebPage}" method="post">

            <span th:each="restaurant : ${selectedRestaurants}">
                <p>
                    <input type="checkbox" th:field="*{restaurantIDs}" th:value="${restaurant.res_id}" />
                    <span th:text="${restaurant.name}">Restaurant name</span>,
                    <span th:text="${restaurant.location.city}">City</span>
                </p>
            </span>

        <p><input type="submit" value="Aktualizovat"/></p>
    </form>

    <form action="" th:action="@{/success}" method="post">
        <p>E-mail: <input type="text"  th:name="email"/> <input type="submit" value="Odeslat"/></p>
    </form>

</body>
</html>