<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/head::frag('Odhlásit odběr')"/>
</head>
<body>
<div class="flex-container">
    <header th:replace="layout/header"></header>
    <nav th:replace="layout/navigationBar"></nav>
    <main id="content">
        <h1>Odhlášení odběru</h1>
        <div th:if="${(param.success==null)}">
            Pro odhlášení odběru jídeláků vyplňte váši e-mailovou adresu a odešlete.

            <form action="" th:action="@{/unsubscribe}" th:object="${emailForm}" method="post">
                <p>
                    <input class="inputText" type="text" th:field="*{email}" placeholder="Zadejte e-mail" />
                    <p><span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span></p>
                </p>
                <p><input class="sendEmailBtn"  type="submit" value="Odhlásit odběr"/></p>
            </form>
        </div>
        <div th:if="${(param.success!=null) and (param.success[0] == 'true')}">
            <p>Odběr z <span class="highlight" th:text="${emailForm.email}">test@email.com</span> byl úspěšně odhlášen.</p>
            <a class="aLikeBtnSimple" href="/">Návrat na úvodní stránku</a>
        </div>
    </main>
    <div th:replace="layout/footer"></div>
</div>
</body>
</html>
